@media (max-width:1280px) {
    .right-part ul li a {
        padding: 10px 7px;
    }
}
@media (max-width:1200px) {
    .left-part {
        width: 40%;
    }
    .right-part {
        margin-right: 0px;
        width: 60%;
    }
    .right-part ul li a {
        padding: 10px 7px;
    }
}

@media (max-width:898px) {
    .right-part ul li a {
        font-size: 15px;
        padding: 10px 3px;
    }
    .left-abouts-elements {
        margin-top: 105px;
    }
}
@media (max-width:830px) {
    .services-inner-item {
        margin-top: 68px;
        width: 48%;
        margin-right: 10px;
    }
    .service-title h1 {
        margin-bottom: 17px;
    }
}

@media (max-width:720px) {
    .left-part {
        width: 100%;
        text-align: center;
    }
    .left-part a {
        font-size: 33px;
    }
    .right-part {
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
    .left-part a {
        margin-left: 0;
    }
    .right-part ul li a {
        font-size: 18px;
    }
    .banner-section {
        padding: 138px 0;
    }
    .banner-section h1 {
        font-size: 43px;
        margin-bottom: 18px;
    }
    .about-section {
        padding: 29px 18px;
    }
}
@media (max-width:650px) {
    .contact-section {
        padding: 50px 0;
    }
    .contact-title h1 {
        margin-bottom: 26px;
    }
    .contacts-item {
        margin-top: 26px;
    }
    .footer-section-item ul li a {
        padding: 2px 12px;
        font-size: 17px;
    }
    .lower-footer p {
        font-size: 18px;
    }

}
@media (max-width:599px) {
    .services-inner-item {
        margin-top: 68px;
        width: 100%;
    }
    .services-inner-item {
        margin-top: 44px;
    }
    .abouts-element {
        margin-top: 16px;
    }
    .left-abouts-elements {
        width: 100%;
        margin-right: 0;
        margin-top: 33px;
    }
    .right-abouts-elements {
        width: 100%;
        margin-top: 29px;
    }
    .about-section {
        padding: 32px;
    }
}
@media (max-width: 545px) {
    .contact-section {
        padding: 19px 0;
    }
    .contacs-inner-item {
        width: 100%;
        margin-bottom: 10px;
    }
    .contacs-inner-item span {
        margin-bottom: 7px;
    }
}
@media (max-width:540px) {
    .banner-section {
        padding: 106px 0;
    }
    .banner-section h1 {
        font-size: 38px;
    }
    .banner-section p {
        margin-bottom: 31px;
    }
    .services-inner-item {
        margin-top: 41px;;
    }
}
@media (max-width:415px) {
    .left-part a {
        color: blue;
    }
    .right-part ul li a {
        font-size: 18px;
        color: black;
        padding: 0 3px;
    }
    .banner-section {
        padding: 106px 0;
    }
    .banner-section h1 {
        font-size: 29px;
        margin-bottom: 9px;
    }
    .banner-section p {
        margin-bottom: 27px;
        font-size: 16px;
    }
    .service-section {
        padding: 30px;
    }
    .services-inner-item {
        margin-top: 35px;
        margin-right: 0;
    }
    .services-inner-item h3 {
        margin-top: 10px;
}
@media (max-width:350px) {
    .banner-section {
        padding: 72px 7px;
    }
    .service-section {
        padding: 30px;
    }
    .services-element {
        margin-bottom: 0;
    }
    .services-inner-item {
        margin-top: 18px;
    }
    .lower-footer p {
        font-size: 15px;
        padding: 10px 0;
    }
}